body{
    background-color: aqua;
    scroll-behavior: smooth;
}

#Camera, #snapshot{
    background-color: white;
    border-width: 5px;
    border-style: double;
    height: 300px;
    width: 500px;
}

.alignment1{
    float: left;
}

.alignment2{
    float: right;
}